body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 22px;
}

a {
  color: #666;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.page-header {
  background-image: url("../img/head.png");
  width: 1000px;
  height: 400px;
  position: relative;
  margin: 44px auto;
}

.logo-link, .poll-link {
  display: block;
  position: absolute;
  outline: 0;
  text-indent: -999em;
}

.logo-link {
  width: 400px;
  height: 110px;
  top: 100px;
  left: 290px;
}

.poll-link {
  width: 80px;
  height: 100px;
  top: 280px;
  left: 330px;
}

.banner-bg {
  margin: 0 0 44px;
  background-color: #999;
}

.banner-placeholder {
  position: relative;
  background-color: #00b7f0;
  width: 728px;
  height: 90px;
  margin: 0 auto;
}

.ad-label {
  width: 100%;
  position: absolute;
  bottom: -22px;
  left: 0;
  font-size: 12px;
  color: #999;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

.flash-bg {
  margin: 44px 0;
}

.issue-header {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
}

.flash-is-evil {
  width:600px;
  height:400px;
  margin: 0 auto;
}

.page-navigation {
  background-image: url("../img/cupcakes.png");
  width: 620px;
  height: 220px;
  position: relative;
  margin: 44px auto;
}

.nav-link {
  display: block;
  width: 150px;
  height: 200px;
  position: absolute;
  top: 10px;
  outline: 0;
  text-indent: -999em;
}

.nav-archives {
  left: 10px;
}

.nav-about {
  left: 240px;
}

.nav-mail {
  left: 460px;
}

.partners-bg {
  margin: 44px 0;
  text-align: center;
}

.partners-bg a {
  text-decoration: none;
  margin: 0 5px;
}

.page-footer {
  text-align: center;
}

.page-footer em {
  font-style: normal;
}
